spotifyEnv
.env
archive.zip

/archive/*
!/archive/historicCharts.csv
!/archive/regional-global-daily-2020-12-21.csv
!/archive/regional-global-daily-2020-12-13.csv
!/archive/regional-global-daily-2020-12-21.csv
!/archive/regional-global-daily-2021-01-03.csv
!/archive/regional-global-daily-2021-11-22.csv
.vscode
*.png